name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    strategy:
      matrix:
        os: [ "macos-latest", "ubuntu-latest", "windows-latest" ]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - name: Run Tests
      run: cargo test --release
